{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h3>deuxieme page</h3>
    <a href="{{ path('app_home') }}" class="btn btn-primary">lien vers le premier truc</a>

{% endblock %}
